** Data validation

In [50]:
#import library
import pandas as pd
import numpy as np

In [51]:
path=r'C:\Users\hp\Downloads\archive\IMDBDataset.csv'

In [52]:
df=pd.read_csv(path)

In [53]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [54]:
df.head(10)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing, fresh & innovative i...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

In [55]:
df.shape

(50000, 2)

In [56]:
df.describe()
#here i'm describe the dataframe

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  negative
freq                                                    5     25000

In [57]:
df.info()
#here i m check the datatype and infromation of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [58]:
df.duplicated()
#here im check duplicated and null values

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Length: 50000, dtype: bool

In [59]:
df.isnull()

       review  sentiment
0       False      False
1       False      False
2       False      False
3       False      False
4       False      False
...       ...        ...
49995   False      False
49996   False      False
49997   False      False
49998   False      False
49999   False      False

[50000 rows x 2 columns]

In [60]:
varlist=['sentiment']
def binary_map(x):
    return x.map({"positive": 1,"negative": 0})

In [61]:
df[varlist]=df[varlist].apply(binary_map)

In [62]:
df.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [63]:
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
vect=CountVectorizer()
docs=np.array(['the movie was great'
              'but slightly boring'])
bag=vect.fit_transform(docs)

In [64]:
print(vect.vocabulary_)

{'the': 4, 'movie': 2, 'was': 5, 'greatbut': 1, 'slightly': 3, 'boring': 0}

In [17]:
print(bag.toarray())

[[1 1 1 1 1 1 1]]

In [19]:
from sklearn.feature_extraction.text import TfidfTransformer
np.set_printoptions(precision=2)
tfidf=TfidfTransformer( use_idf = True,norm = 'l2',smooth_idf = True)
print(tfidf.fit_transform(bag).toarray())

[[0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3]]

In [20]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(
                         use_idf = True,
                         norm = 'l2',
                         smooth_idf = True)

y=df.sentiment.values

x=tfidf.fit_transform(df['review'].values.astype('U'))

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.5,shuffle=False)

In [23]:
import pickle

In [24]:
from sklearn.linear_model import LogisticRegressionCV
clf=LogisticRegressionCV(
                         cv=5,
                          scoring='accuracy',
                          random_state=0,
                           n_jobs= -1,
                           verbose=3,
                           max_iter=300).fit(x_train,y_train)
saved_model=open('saved_model.sav', 'wb')
pickle.dump(clf,saved_model)
saved_model.close()

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   5 | elapsed:  4.1min remaining:  6.1min
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:  5.0min finished

In [25]:
filename='saved_model.sav'
saved_clf=pickle.load(open(filename,'rb'))
saved_clf.score(x_test,y_test)

0.89692